*{
    list-style-type: none;
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body{
    background: #fdfdfd;
}
header{
    margin-top: 6vh;
}
header nav{
    display: flex;
   align-items: center;
}
.fa-bars{
    visibility: hidden;
}
header nav ul{
    display: flex;
    position: absolute;
    right: 0;
}
header nav ul li{
    margin-right: 30px;
}
header nav ul li i{
    margin-right: 3px;
}
header nav ul a{
    text-decoration: none;
    transition: all .1s ease;
}
header nav ul a{
    color: #333;
}
header nav ul a:visited{
    color : #333;
}
header nav ul a:hover{
    color: rgba(118, 194, 197, 0.815);
}
.fa-times-circle{
    visibility: hidden;
}
#checkbtn{
    visibility: hidden;
}
#moon{
    transition: all .5s ease-in;
}
@media only screen and (max-width: 975px) {
    header nav ul{
        flex-direction: column;
        left: -100%;
        top: 100px;
        height: 0vh;
        max-width: 300px;
        background: red ;
        transition: all .5s ease-in-out;
    }
    header nav ul li{
        margin-bottom: 20px;
        margin-left: 40px;
        margin-top: 20px;
        /* background: red; */
    }
    .fa-bars{
        visibility: visible;
    }
    .fa-moon{
        position: relative;
        left: 80vw;
        /* top: 20px; */
    }
    .fa-sun{
        position: relative;
        left: 80vw;
    }
    .fa-bars{
        position: relative;
        left: 10px;
    }
    .fa-times-circle{
        visibility: visible;
        position: absolute;
        right: 20%;
        margin-bottom: 30px;
    }
    .fa-home{
        margin-top: 15px;
    }
}